<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
  </head>
  <script type="module">


  </script>


  <div id="hero">
    <h1>BNTU</h1>
    <h2>Server is {{ server }}</h2>
  </div>
  
    <div id="cosmicSearch">
    <h2>Cosmic Search</h2>

    </div>

    <div id="cosmicCalendar">
    <h2>Cosmic Calendar</h2>

    </div>

    <div id="cosmicFlashbacks">
    <h2>Cosmic Flashback</h2>
    </div>


    <form action="{{ server }}/ack" method="POST">
        <button>Send it</button>
    </form>
  <body>
  </body>
</html>